/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium; 
    background-color: #540B51;
    
}
#first-nav{
    display: flex;
    background-color: #540B51 ;
    flex-direction: row;
   
}

/* .first-row{
    
    flex-direction: wrap;
} */


 #first-img{
width: 90px;
padding: 10px 200px 10px 10px; 
padding-right: 160px;
} 

#first-ul{
    display: none;
}

button{
    background-color: transparent;
    border: 0cap;
}
.buttons{

    padding-top: 5px;
    background-color: #540B51;
    
        }

#header{
display:flex;
flex-direction: column;
background-color: #540B51;


}
#first-h1{
    width: 400px;
    color: white;
    font-weight: 100;
    margin-left: 40px;
    text-indent: 10px;   
}
#first-p{
    color: #ffffff;
    font-weight: lighter;
    font-size: 13px;
    margin-left: 50px;
}
#phrase-p{
    color: #ECB12F;

}


#email{
    background-color: #ffffff;
    padding: 10px 80px ;
    margin: 10px 45px;
    text-transform: uppercase;
    display: block;
    color: #540B51;
    font-weight: bold;
    font-size: 10px;
    
    
}

#google{
    background-color: #4285F4;
    padding: 6px 234px 3px 6px;
  
    text-transform: uppercase;
    align-items: center;
    margin: 5px 45px 30px;
    
     
}
    
#second-img{
    width: 15px;
    background-color: #ffffff;
    padding: 5px;
    margin: 0px;
    display: inline-flex;
    

   
    
    
    
}
#first-span{
    
    color: #540B51;
    font-weight: bold;
    font-size: 10px;
    padding: 7px 05px 100px 40px;
    position:absolute;
   
}
#third-img{

    width: 600px;
    height: 220px;
    object-fit: cover;
   transform: translate(-5%);
   

}
#trustedCompaniesContainer{
    background-color:#F3EAE2; 
    display: flex;
    flex-wrap:wrap;
    width: 768px;
    height: 500px;
    margin: 0;
    justify-content: center;
  align-items: center; 
  margin: 0 auto;
     }

#trustedCompaniesContainer img {
        max-width: 100%;
        height: auto;
        max-height: 100px;
        margin: 5px; 

      }
#textTrustedCompanies{
        text-align: center;
        font-size: 40px;  }



#teams{
    background-color: white;
    color: black;
    text-align: center;
    width: 768px;
    margin: 0 0 0 0;
    border-top: 50px;
}
#teams > h3{
    color: #540B51;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    border-top: 70px solid white;
}
.procent{
    color: #540B51;
    font-size: 70px;
    font-weight: bold;
    margin: 75px auto auto auto; 
}
#teams > ul{
     font-weight: bold;
     margin: 0 250px auto 250px; 
     list-style: none;
}
#teams #small{
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 50px;
     }
#try{
    background-color: #540B51;
    color: white;
    width: 768px;
    text-align: center;
}
#try button{
    color: white; 
  }

#try > h3{
font-size: 60px;
     }
#try #boton1{
background-color: white;
color: #540B51;
width: 650px;
height: 50px;
font-size: 30px;
border-radius: 5px;
}
#try #boton2{
    color: white;
    background-color: #540B51;
    width: 650px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid white;
    margin: 15px; 
    }
    





    @media (min-width: 768px) and (max-width: 1024px) {
    #firstnav, #body,  #header, #trustedCompaniesContainer, #teams, #try, #first-h1{
        width: 950px;
        display: flex;
        flex-wrap: wrap;
         }
         #trustedCompaniesContainer{
            height: 300px;
         }
         #trustedCompaniesContainer img{
 display: inline-block; 
  margin-right: 10px;
  max-width: 100%; 
  height: auto; 
  width: 100px;
  margin: 20px; 
         }
    #teams ul{
        display: flex;
        flex-flow: row nowrap; 
        margin: 20px 50px 50px 50px;
    
    }
   
    #teams #mobileP{
    margin-left: 200px;
    }
    #teams #small{
        display: none;
        }
    #try #boton1{
        margin-left: 175px; 
    }
    #try #boton2{
        margin-left: 175px; 
    }
    #try h3{
        text-align: center;
        margin-left: 20px;
    }
     }